.task {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
}

.delete-button {
  color: #9C5020;
  font-family: 'Raleway', sans-serif;
  background-color: #ffffff;
  opacity: 0.8;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
}

input {
  margin-right: 10px;
  border-radius: 5px;
}