.entries-container {
 width: 55%;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-evenly;
 overflow-y: scroll;
 opacity: 0.8;
 height: 90%;
 margin-top: 15px;
 margin-bottom: 5px;
}

@media screen and (max-width: 30em) {
  .entries-container {
    max-height: 95%;
    width: 100%;
    margin-top: 15px;
  }
}