.entries-container {
 width: 55%;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-evenly;
 overflow-y: scroll;
 opacity: 0.8;
 margin-bottom: 99vh;
}

@media screen and (max-width: 25em) {
  .entries-container {
    max-height: 95%;
    margin-top: 5px;
  }
}