.form {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  opacity: 0.8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 55%  
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote {
  margin-bottom: 2px;
  margin-left: 10px;
  margin-right: 10px;
}

.quote-author {
  font-style: italic;
  margin-top: 5px;
}

label {
  font-size: 18px;
}

.diary-entry {
  margin-top: 5px;
  border: 1px whitesmoke solid;
  border-radius: 10px;
  height: 100px;
  width: 90%;
  color: #9C5020;
  font-family: 'Raleway', sans-serif;
  text-align: left;
}

.submit-button {
  margin-top: 5px;
  border-radius: 10px;
  border: none;
  height: 45px;
  width: 100%;
  color: #9C5020;
  font-family: 'Raleway', sans-serif;
  font-size: large;
  background-color: #ffffff;
  opacity: 0.8;
}