.todo-list {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  opacity: 0.8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 55%; 
}