@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  color:#9C5020
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 80%;
  height: 100%;
}
