.header {
  width: 55%;
}

.entries-button {
  margin-top: 5px;
  border-radius: 10px;
  border: none;
  height: 45px;
  width: 100%;
  color: #9C5020;
  font-family: 'Raleway', sans-serif;
  font-size: large;
  background-color: #ffffff;
  opacity: 0.8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}