.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  background: #FFFFFF;
  opacity: 0.8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 30%;
  height: 3%;
}

.diary-entry {
  overflow-wrap: break-word;
  overflow-y: scroll;
}

.like-button {
  background-color: #FFFFFF;
  border: none
}